<%= form_with(model: upload_file, local: true) do |form| %>
  <% if upload_file.errors.any? %>
    <div id="error_explanation">
      <h3><p class="alert alert-danger"><%= pluralize(upload_file.errors.count, "error") %> prohibited this upload_file from being saved:</p></h3>

      <ul>
      <% upload_file.errors.full_messages.each do |message| %>
        <li><p class="alert alert-danger"><%= message %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %><br>

  <div class="field">
    <%#= form.label "Activity Type" %>
    <%#= form.text_field :upload_type, :class => 'form-control' %>
    <% if current_user.discipline == 'Research' %>
      <% upload_types = ["Crop Improvement", "Crop Production", "Plant Protection", "Seed Production", "Soil Testing", "Processing / Value Addition", "Bio Fertilizer Production", "Vermi Composting", "Kisam Melas / Rythu Sadasu", "Farmer Training Programme", "Village Adoption Programme", "Press Notes", "Knowledge Material", "Leaf Lets / Bulletins / Folders", "T.V Programmes", "Radio Programme", "Natural resource management", "Farm mechanization", "New innovations", "Awards/Recognition", "Others"].sort %>
    <% elsif current_user.discipline == 'Extension' %>
      <% upload_types = ["Minikit Testing", "OFTs", "FLDs", "After Diagnostic - Field Visits", "Kisan Melas", "Farmers Training", "Extension Studies/Success Stories", "RAWEP", "Training to Extension Staff", "Vocational Training", "Publications", "Training to Middle Level Extension Functionaries", "Off Campus", "On Campus", "Consultnacy Programmes", "Extension Research", "Knowledge Material", "Awards/Recognition", "Field visits", "Instructional farm", "Others"].sort %>
    <% elsif current_user.discipline == 'Teaching' %>
      <% upload_types = ["Student Ready Programme(RAWEP)", "Student Ready Programme(AELP)", "Student Ready Programme(Industrial Attachment)", "Village Adoption", "Chenu Kaburlu", "Workshops/Guest Lecturers/Seminars", "Personality Development", "NCC", "NSS", "Course & Extra Curricular Activities", "Exposure Visits", "Trainings", "Awards/Recognition", "Haritha Haram", "Involvement in State Government activities", "Others"].sort %>
    <% end %>
    <%= form.select(:upload_type, upload_types, { include_blank: 'Activity type' }, { :class => 'form-control', placeholder: 'Activity Type', :required => true }) %>
  </div><br>

  <%= form.hidden_field :name, :value => @name %>

  <% if current_user.discipline != 'Teaching' %>
    <div class="field">
      <%= form.select(:crop, ["Rice", "Sesamum", "Maize", "Sugarcane", "Soybean", "Cotton", "Desi Cotton", "Dryland Crops", "Pulses", "Jowar", "Wheat", "Bio Fuel  Crops", "Pogamia", "Seemaruba", "Sunflower", "Castor", "Minor Millets", "Groundnut", "Redgram", "Safflower", "Rabi Sorgum"], { include_blank: 'Select any Crop' }, { :class => 'form-control', placeholder: 'Select any Crop', :required => true }) %>
    </div><br>
  <% end %>

  <div class="field">
    <%#= form.label "Title of the Activity" %>
    <%= form.text_field :title, :class => 'form-control', placeholder: 'Title', :required => true %>
  </div><br>

  <div class="field">
    <%#= form.label :description %>
    <%= form.text_area :description, :class => 'form-control', placeholder: 'Description', :required => true %>
  </div><br>

  <div class="field">
    <%#= form.label :location %>
    <%= form.text_field :location, :class => 'form-control', placeholder: 'Location', :required => true %>
  </div><br>

  <div class="field">
    <%= form.text_field :date, class: 'form-control datepicker', value: (@upload_file.date.strftime("%d-%m-%Y") if @upload_file.date.present?), placeholder: 'Conducted Date', autocomplete: "off" %><br />

    <%#= form.text_field :date, :class => 'form-control datepicker', value: (form.object.date.strftime("%d-%m-%Y") if form.object.date.present?), placeholder: 'Activity Conducted Date', :required => true, 'data-date-format' => "mm/dd/yyyy" %>
  </div>

  <div class="field">
    <%= form.select(:file_type, ["Video", "Audio", "Image", "PDF", "Word","Alet Messages"], { include_blank: 'File Type' }, { :class => 'form-control check_video', :required => true, disabled: @upload_file.id ? true : false }) %>
  </div><br>

  <div class="field">
    <%= form.select(:duration_of_video, ["Below 1 min", "1-2 min", "2-3 min", "4-5 min", "Above 5 min"], { include_blank: 'Duration of Video' }, { :class => 'form-control video_select' }) %>
  </div><br>


  <% if button_name == "Update" %>
    <p>
      <strong>Uploaded File:</strong> <br/>
      <%# files_check = @upload_file.uploads.attached? %>
      <% files_check = @upload_file.file.attached? %>
      <% if files_check %>
        <%# @upload_file.uploads.each do |upload| %>
          <%= link_to @upload_file.file.filename, @upload_file.file, target: '_blank' %> <br/>
        <%# end %>
      <% else %>
        <p>no uploads</p>
      <% end %>
    </p>
  <% end %>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.file_field :file, multipart: true, :required => files_check ? false : true %>
  </div>
  <br>
  <div class="actions text-centre">
    <%= form.submit button_name, class: "btn btn-info" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
		  format: 'dd/mm/yyyy', "weekStart": 1, "autoclose": true
		});
    $(".check_video").change(function(){
      if ($(".check_video").val() != 'Video') {
        $(".video_select").val('')
        $(".video_select").hide()
      } else {
        $(".video_select").show()
      }
    })
    if ($(".check_video").val() != 'Video') {
      $(".video_select").hide()
    }
  });
</script>
