<%= form_with(model: upload_file, local: true) do |form| %>
  <% if upload_file.errors.any? %>
    <div id="error_explanation">
      <h3><p class="alert alert-danger"><%= pluralize(upload_file.errors.count, "error") %> prohibited this upload_file from being saved:</p></h3>

      <ul>
      <% upload_file.errors.full_messages.each do |message| %>
        <li><p class="alert alert-danger"><%= message %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %><br>

  <div class="field">
    <%#= form.label "Activity Type" %>
    <%#= form.text_field :upload_type, :class => 'form-control' %>
    <%= form.select(:upload_type, ['Research', 'Event' ], { include_blank: 'Select any '+ @name +' type' }, { :class => 'form-control', placeholder: 'Activity Type', :required => true }) %>
  </div><br>

  <%= form.hidden_field :name, :value => params[:name] %>

  <div class="field">
    <%#= form.label "Title of the Activity" %>
    <%= form.text_field :title, :class => 'form-control', placeholder: 'Title of the '+ @name, :required => true %>
  </div><br>

  <div class="field">
    <%#= form.label :description %>
    <%= form.text_area :description, :class => 'form-control', placeholder: 'Description', :required => true %>
  </div><br>

  <div class="field">
    <%#= form.label :location %>
    <%= form.text_field :location, :class => 'form-control', placeholder: 'Location', :required => true %>
  </div><br>

  <div class="field">
    <%= form.label "Activity Conducted Date" %>
    <%= form.text_field :date, class: 'form-control datepicker', value: @upload_file.date.strftime("%d-%m-%Y") if @upload_file.date.present? %><br />

    <%#= form.text_field :date, :class => 'form-control datepicker', value: (form.object.date.strftime("%d-%m-%Y") if form.object.date.present?), placeholder: 'Activity Conducted Date', :required => true, 'data-date-format' => "mm/dd/yyyy" %>
  </div><br>
  <% if @name != 'Activities' %>
    <div class="field">
      <%#= form.label :scientist_name %>
      <%= form.text_field :scientist_name, :class => 'form-control', placeholder: 'Scientist Name', :required => true %>
    </div><br>

    <div class="field">
      <%#= form.label "Scientist Email ID" %>
      <%= form.email_field :scientist_id, :class => 'form-control', placeholder: 'Scientist Email ID', :required => true %>
    </div><br>
  <% end %>

  <% if button_name == "Update" %>
    <p>
      <strong>Uploaded Files:</strong> <br/>
      <% files_check = @upload_file.uploads.attached? %>
      <% if files_check %>
        <% @upload_file.uploads.each do |upload| %>
          <%= link_to upload.filename, upload, target: '_blank' %> <br/>
        <% end %>
      <% else %>
        <p>no uploads</p>
      <% end %>
    </p>
  <% end %>

  <div class="field">
    <%= form.label :upload_files %>
    <%= form.file_field :uploads, multiple: true, :required => files_check ? false : true %>
  </div>
  <br>
  <div class="actions text-centre">
    <%= form.submit button_name, class: "btn btn-info" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
		  format: 'dd/mm/yyyy', "weekStart": 1, "autoclose": true
		});
  });
</script>
