<h3>Dashboard - Approve / Reject - Uploaded Activities / Projects</h3>

<form action="/electronic_wing/download_data">
  <label for="displaying">Select Institute / Centre</label>
  <select name="user_id" class="form-control" onchange="this.form.submit()">
    <option value=""></option>
    <% @users.each do |bt|%>
      <option value="<%= bt.id %>" <%= 'selected' if params[:user_id].to_i == bt.id %>> <%= bt.institute_centre_name %></option>
    <% end %>
  </select>
  <label for="displaying">Select</label>
  <select name="type" class="form-control" onchange="this.form.submit()">
    <option value=""></option>
    <option value="Activities" <%= 'selected' if params[:type].to_s == 'Activities' %>>Activities</option>
    <option value="Projects" <%= 'selected' if params[:type].to_s == 'Projects' %>>Projects</option>
  </select>
</form>

<br><br>
<% if @upload_files.present? %>
  <div class="table-responsive">
    <table id="static-table" class="table table-striped table-hover dt-responsive display nowrap " cellspacing="0">
      <thead>
        <tr>
          <th>S.No:</th>
          <th>Title of the Activity</th>
          <th>Location</th>
          <th>Date</th>
          <th>Scientist</th>
          <th>Posted Date</th>
          <th>Attachment</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @upload_files.each_with_index do |upload_file, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= upload_file.title %></td>
            <td><%= upload_file.location %></td>
            <td><%= upload_file.date %></td>
            <td><%= upload_file.scientist_name %></td>
            <td><%= upload_file.created_at %></td>
            <td>
              <%= link_to 'Download', approved_files_download_path(id: upload_file.id), class: 'btn btn-info' %>
            </td>
            <td><%= upload_file.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif !@upload_files.nil? %>
  <p class="alert alert-warning">No records found</p>
<% end %>

<script>
$(document).ready( function () {
  $('#static-table').DataTable( {
    responsive: true
  });
});
</script>
