<div class="item_wrap">
  <div class="item">
    <div class="text-right">
      <%= link_to 'Export Data', institute_activities_manage_path(format: :csv), method: :get, class: "btn btn-info pull-right", style: 'margin-bottom: 20px;' %>
      <br>
    </div>
    <div class="table-responsive">
      <table id="static-table" class="table table-striped table-hover dt-responsive display" cellspacing="0">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Discipline</th>
            <% if current_user.discipline != 'Teaching' %>
              <th>Crop</th>
            <% end %>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <% if @upload_type != 'Activity' %>
              <th>Scientist</th>
            <% end %>
            <th>Posted Date</th>
            <th>Status</th>
            <th>File Type</th>
            <th>Attachment</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% @upload_files.each_with_index do |upload_file, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= upload_file.upload_type %></td>
              <% if current_user.discipline != 'Teaching' %>
                <td><%= upload_file.crop %></td>
              <% end %>
              <td><div class="title"><%= upload_file.title %></div></td>
              <td><div class="title"><%= upload_file.description %></div></td>
              <td><%= upload_file.location %></td>
              <td><div class="date_text"><%= upload_file.date.in_time_zone("Kolkata").strftime("%d-%m-%Y") %></div></td>
              <% if @upload_type != 'Activity' %>
                <td><%= upload_file.scientist_name %></td>
              <% end %>
              <td><div class="date_text"><%= upload_file.updated_at.in_time_zone("Kolkata").strftime("%d-%m-%Y") %></div></td>
              <td><%= upload_file.status %></td>
              <td><div class="date_text"><%= upload_file.file_type %></div></td>
              <td>
                <%#= link_to 'Download', upload_file_path(format: :zip, id: upload_file.id), method: :get, class: "btn btn-success btn-sm" %>
                <% if upload_file.file.attached? %>
                  <%= link_to 'Download', upload_file.file, class: "btn btn-success btn-sm", target: '_blank' %>
                <% else %>
                  <%#= link_to 'Download', "#", method: :get, class: "btn btn-success btn-sm" %>
                <% end %>
                <%#= link_to 'Download', approved_files_download_path(id: upload_file.id), class: 'btn btn-success btn-sm' %>
              </td>
              <td>
                <% if upload_file.status == 'Pending' %>
                  <%= link_to 'Edit', edit_upload_file_path(upload_file, name: params[:name]), class: 'btn btn-info btn-sm' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script>
$(document).ready( function () {
  $('#static-table').DataTable( {
    responsive: true,
    "scrollY": "100%",
    "scrollX": '100%',
    autoWidth: true
  });
});
</script>
<style media="screen">
  table.dataTable tbody td .title {
    word-break: break-word;
    min-width: 200px;
    vertical-align: top;
  }
  table.dataTable tbody td .date_text {
    word-break: break-word;
    min-width: 100px;
    vertical-align: top;
  }
</style>
