<h3>Pending Activities / Projects</h3>
<!-- <div class="item_wrap">
  <div class="item" align="center">
    <div class="col-8" >
    <form action="/electronic_wing/dashboard">

      <select name="user_id" class="form-control" onchange="this.form.submit()">
        <option value="">Select Institute / Centre</option>
        <%# @users.each do |bt|%>
          <option value="<%#= bt.id %>" <%#= 'selected' if params[:user_id].to_i == bt.id %>> <%#= bt.name %></option>
        <%# end %>
      </select><br>

      <select name="type" class="form-control" onchange="this.form.submit()">
        <option value="">Select</option>
        <option value="Activities" <%#= 'selected' if params[:type].to_s == 'Activities' %>>Activities</option>
        <option value="Projects" <%#= 'selected' if params[:type].to_s == 'Projects' %>>Projects</option>
      </select>
    </form>
  </div>
</div>
</div> -->
<br>
<% if @upload_files.present? %>
  <div class="item_wrap">
    <div class="item">
      <div class="table-responsive">
        <table id="static-table" class="table table-striped table-hover dt-responsive display" cellspacing="0">
          <thead>
            <tr>
              <th>Type of Institute</th>
              <th>Institute/Centre Name</th>
              <th>Discipline</th>
              <th>Crop</th>
              <th>Title</th>
              <th>Location</th>
              <th>Date</th>
              <th>Scientist</th>
              <th>Posted Date</th>
              <th>Description</th>
              <th>File Type</th>
              <th>Video Duration</th>
              <th>Attachment</th>
              <th>Approve/Reject</th>
            </tr>
          </thead>
          <tbody>
            <% @upload_files.each_with_index do |upload_file, index| %>
              <tr>
                <td><div  class="title1"><%= upload_file.institute.institute_centre_type if upload_file.institute.present? %></div></td>
                <td><div  class="title1"><%= upload_file.institute.institute_centre_name if upload_file.institute.present? %></div></td>
                <td><%= upload_file.upload_type %></td>
                <td><%= upload_file.crop %></td>
                <td><div class="title"><%= upload_file.title %></div></td>
                <td><%= upload_file.location %></td>
                <td><div class="date_text"><%= upload_file.date.in_time_zone("Kolkata").strftime("%d-%m-%Y") %></div></td>
                <td><%= upload_file.scientist_name %></td>
                <td><div class="date_text"><%= upload_file.created_at.in_time_zone("Kolkata").strftime("%d-%m-%Y") %></div></td>
                <td><div class="title"><%= upload_file.description %></div></td>
                <td>
                  <div class="date_text">
                    <%= upload_file.file_type %>
                  </div>
                </td>
                <td>
                  <div class="title1">
                    <%= upload_file.duration_of_video %>
                  </div>
                </td>
                <td>
                  <% if upload_file.file.attached? %>
                    <%= link_to 'Download', upload_file.file, class: "btn btn-success btn-sm", target: '_blank' %>
                  <% else %>
                    <%#= link_to 'Download', "#", method: :get, class: "btn btn-success btn-sm" %>
                  <% end %>
                  <%#= link_to 'Download', upload_file_path(format: :zip, id: upload_file.id), method: :get, class: "btn btn-success btn-sm" %>
                  <%#= link_to upload_file.file.filename, upload_file.file, class: "btn btn-success btn-sm", target: '_blank' %>
                </td>
                <td>
                  <div class="title">
                    <%= link_to 'Approve', upload_file_status_update_path(status: 'Approved', id: upload_file.id), class: 'btn btn-success btn-sm', :data => {:confirm => 'Are you sure you want to Approve?'} %>
                    <%= link_to "Reject", add_reason_path(document_id: upload_file.id), class: 'btn btn-danger btn-sm', style: "background-color: #f46464 !important; border-color: #f46464;", remote: true %>
                  </div>
                  <%#= link_to 'Reject', upload_file_status_update_path(status: 'Rejected', id: upload_file.id),  class: 'btn btn-danger btn-sm', style: "background-color: #f46464 !important; border-color: #f46464;", :data => {:confirm => 'Are you sure you want to reject?'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% elsif !@upload_files.nil? %>
  <p class="alert alert-warning">No records found</p>
<% end %>
<div class="add_reason_content"></div>

<script>
$(document).ready( function () {
  $('#static-table').DataTable( {
    responsive: true,
    "scrollY": "100%",
    "scrollX": '100%',
    autoWidth: true
  });
});
</script>

<style media="screen">
  table.dataTable tbody td .title {
    word-break: break-word;
    min-width: 200px;
    vertical-align: top;
  }
  table.dataTable tbody td .title1 {
    word-break: break-word;
    min-width: 180px;
    vertical-align: top;
  }
  table.dataTable tbody td .date_text {
    word-break: break-word;
    min-width: 120px;
    vertical-align: top;
  }
</style>
