<!DOCTYPE html>
<html>
  <head>
    <title>DAKMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
      <div class="top_navbar">
        <div class="top_menu">
          <div class="home_link">
            <%= image_tag 'download.jpeg', height: "50px", width: "50px" %>
            <span class="header-style1"> &nbsp;Digital Agriculture Knowledge Management System(DAKMS)</span>
          </div>
          <div class="right_info">
            <div class="icon_wrap">
              <div class="icon">
                <span><%= current_user.name %></span>
              </div>
            </div>
            <div class="home_link">
              <a href="/users/sign_out">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>Log out</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main_body">
        <div class="sidebar_menu">
          <div class="inner__sidebar_menu">
            <ul>
              <li>
                <a href="<%= electronic_wing_dashboard_path %>" class="active">
                <span class="icon">
                  <i class="fa fa-list" aria-hidden="true"></i>
                </span>
                  <span class="list">Dashboard</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                  <span class="list">Institute / Centre</span>
                </a>
              </li>
              <li>
                <a href="<%= new_institute_path %>">
                <span class="icon">
                  <i class="fa fa-plus mg-lf-30" aria-hidden="true"></i>
                </span>
                  <span class="list">Add</span>
                </a>
              </li>
              <li>
                <a href="<%= admin_manage_path %>">
                  <span class="icon">
                    <i class="fa fa-pencil-square-o mg-lf-30" aria-hidden="true"></i>
                  </span>
                  <span class="list">Manage</span>
                </a>
              </li>
              <li>
                <a href="<%= admin_path %>">
                  <span class="icon">
                    <i class="fa fa-eye mg-lf-30" aria-hidden="true"></i>
                  </span>
                  <span class="list">View</span>
                </a>
              </li>
              <li>
                <a href="<%= electronic_wing_download_data_path %>">
                  <span class="icon">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                  <span class="list">Download Data</span>
                </a>
              </li>
              <li>
                <a href="<%= electronic_wing_rejected_data_path %>">
                  <span class="icon">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                  <span class="list">Rejected Data</span>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <span class="icon">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                  <span class="list">Publish Data</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon">
                    <i class="fa fa-eye mg-lf-30" aria-hidden="true"></i>
                  </span>
                  <span class="list">Publish</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon">
                    <i class="fa fa-pencil-square-o mg-lf-30" aria-hidden="true"></i>
                  </span>
                  <span class="list">Manage</span>
                </a>
              </li> -->
            </ul>
            <div class="hamburger">
              <div class="inner_hamburger">
                <span class="arrow">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                  <!-- <i class="fas fa-long-arrow-alt-left"></i>
                  <i class="fas fa-long-arrow-alt-right"></i> -->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div class="item_wrap">
            <div class="item">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
