<!DOCTYPE html>
<html>
  <head>
    <title>DAKMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
      <div class="top_navbar">
        <div class="top_menu">
          <div class="home_link">
            <img src="/download.jpeg" height="50px" width="50px">
            <span class="header-style1"> &nbsp;Digital Agricultural Knowledge Management System(DAKMS)</span>
          </div>
          <div class="right_info">
            <span class="header-style1"> &nbsp;<%= current_user.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <!-- <div class="icon_wrap">
              <div class="icon">
              </div>
            </div> -->
            <div class="home_link">
              <a href="/users/sign_out">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>Log out</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main_body">
        <div class="sidebar_menu">
          <div class="inner__sidebar_menu">
            <ul>
              <li>
                <a href="<%= institute_dashboard_path %>" class="<%= params[:action] == 'dashboard' &&  params[:controller] == 'institutes' ? 'active' : '' %>">
                <span class="icon">
                  <i class="fa fa-list" aria-hidden="true"></i>
                </span>
                  <span class="list">Dashboard</span>
                </a>
              </li>
              <% if current_user.discipline != 'Teaching' %>
                <li>
                  <a href="#">
                  <span class="icon">
                    <!-- <i class="fa fa-upload" aria-hidden="true"></i> -->
                  </span>
                    <span class="list">Projects</span>
                  </a>
                </li>
                <li>
                  <a href="<%= new_upload_file_path(name: "Project") %>" class="<%= params[:action] == 'new' &&  params[:controller] == 'upload_files' && params[:name] == 'Project' ? 'active' : '' %>">
                    <span class="icon">
                      <i class="fa fa-upload mg-lf-30" aria-hidden="true"></i>
                    </span>
                    <span class="list">Upload</span>
                  </a>
                </li>
                <li>
                  <a href="<%= institute_activities_manage_path(name: "Project") %>" class="<%= params[:action] == 'manage' &&  params[:controller] == 'institutes' && params[:name] == 'Project' ? 'active' : '' %>">
                    <span class="icon">
                      <i class="fa fa-pencil-square-o mg-lf-30" aria-hidden="true"></i>
                    </span>
                    <span class="list">Manage</span>
                  </a>
                </li>
              <% end %>
              <li>
                <a href="#">
                <span class="icon">
                  <!-- <i class="fa fa-upload" aria-hidden="true"></i> -->
                </span>
                  <span class="list">Activities</span>
                </a>
              </li>
              <li>
                <a href="<%= new_upload_file_path(name: "Activity") %>" class="<%= params[:action] == 'new' &&  params[:controller] == 'upload_files' && params[:name] == 'Activity' ? 'active' : '' %>">
                <span class="icon">
                  <i class="fa fa-upload mg-lf-30" aria-hidden="true"></i>
                </span>
                  <span class="list">Upload</span>
                </a>
              </li>
              <li>
                <a href="<%= institute_activities_manage_path(name: "Activity") %>" class="<%= params[:action] == 'manage' &&  params[:controller] == 'institutes' && params[:name] == 'Activitys' ? 'active' : '' %>">
                  <span class="icon">
                    <i class="fa fa-pencil-square-o mg-lf-30" aria-hidden="true"></i>
                  </span>
                  <span class="list">Manage</span>
                </a>
              </li>
              <li>
                <a href="<%= institute_download_data_path %>" class="<%= params[:action] == 'download_data' &&  params[:controller] == 'institutes' ? 'active' : '' %>">
                  <span class="icon">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                  <span class="list">Download Data</span>
                </a>
              </li>
            </ul>
            <div class="hamburger">
              <div class="inner_hamburger">
                <span class="arrow">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
